[project]
	description = Demo application for the 'Jenkins: The Definitive Guide' book
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/brandymeng
[access "refs/for/refs/*"]
	read = group user/brandymeng
	push = group user/brandymeng
	label-Code-Review = -2..+2 group user/brandymeng
	label-Verified = -1..+1 group user/brandymeng
	rebase = group user/brandymeng
	removeReviewer = group user/brandymeng
	submit = group user/brandymeng
[access "refs/heads/*"]
	read = group user/brandymeng
	create = group user/brandymeng
	push = +force group user/brandymeng
	pushMerge = group user/brandymeng
[access "refs/tags/*"]
	push = +force group user/brandymeng
	pushTag = group user/brandymeng
	pushSignedTag = group user/brandymeng
